%h2 Welcome to EBSSL!
/ <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

.large-8.medium-12.small-12.columns
  %ul
    %li Each team plays 15-22 games per season (division, playoffs and cup)
    %li Top/bottom 2 per division get promoted/demoted
    %li You have to be 30 on Dec-31, but two players per team can be 28
    %li Potential fields below
  %iframe{:height => "480", :src => "https://www.google.com/maps/d/u/1/embed?mid=1R1UqleBVBpC8YEVx75P4IQIqBzA", :width => "640"}
    %li Call Mihai at 415.734.0129 with any questions
