%h2 Welcome to EBSSL!
/ <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

%h4 Logistics
%ul.larger-font
  %li Each team plays 15-22 games per season (division, playoffs and cup)
  %li Top/bottom 2 per division get promoted/demoted
  %li You have to be 30 on Dec-31, but two players per team can be 28

%h4 How Registration Works
%ol.larger-font
  %li
    You sign in with your choice of Google or Facebook
    - unless user_signed_in?
      %br
      = link_to google_signin_path do
        = image_tag('google_auth.png', height: 50, width: 300)
      = link_to facebook_signin_path do
        = image_tag('facebook_auth.png', height: 50, width: 300)
  %li
    After authorizing, you fill out the league registration form
    %br
    You will need to upload photos of yourself and your drivers license
    %br
    Remember to pay your $10 player pass fee (PayPal to ghanbari@msn.com)
    %br
    You e-sign and submit the form
  %li
    You will now be able to select "Request to join a team" in the menu
    %br
    (Unless you already auto-joined the team whose manager invited you)
    %br
    You fill out the roster form and claim a jersey number
    %br
    Remember to pay your team dues (likely $80-140) to the team manager
  %li The team manager reviews and approves your request to join the team
  %li Your team manager checks your ID in person and approves your league registration
  %li The league secretary approves your league registration
  %li Your player pass gets created
  %li Games start September 11.  Good luck!