%h2 Welcome to EBSSL!
/ <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

%h4 Logistical Details
%ul
  %li Each team plays 15-22 games per season (division, playoffs and cup)
  %li Top/bottom 2 per division get promoted/demoted
  %li You have to be 30 on Dec-31, but two players per team can be 28

%h4 How Registration Works
%ol
  %li You sign in with your choice of Google or Facebook
  %li After authorizing, you fill out the league registration form
  %li ... You will need to upload photos of yourself and your drivers license
  %li ... You pay your $10 player pass fee (PayPal to ghanbari@msn.com)
  %li ... You e-sign and submit the form
  %li You can now select "Request to join a team" in the menu
  %li ... You fill out the roster form and claim a jersey number
  %li The team manager reviews and approves your request to join the team
  %li ... You pay your team dues (likely $80-100) to the team manager
  %li Your team manager checks your ID in person and approves your league registration
  %li The league secretary approves your league registration
  %li Your player pass gets created
  %li Games start September 11.  Good luck!