%h3 Welcome to San Pablo United 30+ Team!
/ <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

.large-6.medium-6.small-12.columns
  %ul
    %li
      We'd be playing Divison C of the
      = link_to 'EBSSL', 'http://ebssl.com/', target: :external
      (top 2 get promoted)
    %li You have to be 30 on Dec-31, but two of us can be 28 on Dec-31
    %li
      Here is a
      = link_to 'typical schedule', 'http://ebssl.com/Schd_twn.htm'
    %li Potential fields below (green likeliest, red unlikeliest)
  %iframe{:height => "375", :src => "https://www.google.com/maps/d/u/1/embed?mid=1R1UqleBVBpC8YEVx75P4IQIqBzA", :width => "500"}

.large-6.medium-6.small-12.columns
  %h4 Schedule

  %ul
    %li Season Starts Sep-11
    %li
      15-22 games total
      %ul
        %li 14: guaranteed in division
        %li 0-2: top 4 in division playoffs
        %li 1-6: FA-style cup, all divisions, blind draw


.large-6.medium-6.small-12.columns
  %h4 Registration and Team Dues

  %ul
    %li
      You can register by filling out
      = link_to 'this PDF', 'http://ebssl.com/ebssl-player-pass-application.pdf'
      %ul
        %li or [coming soon, hopefully] an online form here
    %li $90 to start with, adjust up or down at the end of the season
    %li See below for details
    = image_tag('spu30.png')