Thanks for joining the roster!

Next steps to complete your registration:

%p 1. Pay your team dues if you haven't.  You can PayPal $90 to san.pablo.united.soccer@gmail.com or give Mihai cash or check.

%p
  2. Order a jersey
  =link_to '(from here)', 'http://madcore.com/classic-teamwear/design/back-print-style?my-design=bkYJkBpTb'
  if you don't already have one.  If you don't want to spend $40, any dark blue jersey with a number on the back will probably work.

%p 3. Register with EBSSL if you haven't played in it yet.  You can wait on this for a week or two, because they're hopefully upgrading to an online form instead of a PDF.
