%p
  %h4 Pay Team Dues  
  %ul
    %li The team dues are around $90/player
    %li ...or $80 if you already have an EBSSL player pass
    %li Please PayPal san.pablo.united.soccer@gmail.com (select friends & family so we don't lose $3 in fees)
    %li ...or give Mihai cash or check
    %li Depending on the # of games and players, we will adjust up or down at the end of the season — see below
    = image_tag('spu30.png')  

%p
  %h4 Buy a Jersey
  %ul
    %li
      %span If you don't already have one, please order a San Pablo United jersey
      %span.underline=link_to 'from here', 'http://madcore.com/classic-teamwear/design/back-print-style?my-design=bkYJkBpTb'
    %li It takes about 3 weeks to get your jersey, so please order soon
    %li If you don't want to spend $40, any dark blue jersey with a number on the back will probably work

%p
  %h4 Get an EBSSL player pass
  %ul
    %li If you already have one, you're all set
    %li If not, you will need to register with EBSSL
    %li You can wait a week or two, until EBSSL has online registration available...
    %li
      %span ...or if you're eager to get started, please
      %span.underline= link_to 'fill out this PDF', 'http://ebssl.com/ebssl-player-pass-application.pdf'
      %span and email it to Mihai
  

