.large-2.columns= link_to user.name, user
.large-2.columns= user.email
.large-2.columns= link_to("Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user
.large-2.columns= link_to 'Edit', edit_user_path(user), class: 'button-xs'
%hr