.container
  .row
    %h3 Passes
    %table#users-table.compact
      %thead
        %th
        %th ID
        %th Team
        %th Name
        %th Registration Status
        %th Team Status
        %th Admin Actions
      %tbody
        = render @users.order(:id)