.container
  .row
    %h3 Users
    %table#users-table.compact
      %thead
        %th ID
        %th Team
        %th Name
        %th Registration Status
        %th Team Status
        %th Admin Actions
      %tbody
        = render @users.order(:id)