%h3 User
= image_tag @user.gravatar(40)

- if @user.name
  %p
    Name:
    = @user.name 

= image_tag @user.photo.url, width: 150, height: 150

= link_to 'Download Registration Form PDF', user_path + '.pdf', class: 'button'