.large-1.medium-1.small-1.columns= player.jersey
.large-2.medium-2.small-2.columns= link_to player.safe_name, player
.large-1.medium-1.small-1.columns= link_to player.safe_position, edit_player_path(player)
.large-1.medium-1.small-1.columns= player.invited ? 'Invited' : 'Not'
.clear-both
