
- if @team
  %h1= "#{@team.name} Roster"
- else
  %h1 League Players
  / = render @active_or_pending.order(:jersey)
  / - if current_user && (current_user.admin? || current_user.manager?)
  /   %hr
  /   .admin-only= render @inactive.order(:jersey)
  /

%table#players-table.compact
  %thead
    %th Jersey
    %th Name
    %th Position
    %th Status
    %th 
  %tbody
    = render @active_or_pending

/ %table
/   %thead
/     %tr
/       %th #
/       - unless params[:team_id]
/         %th Team
/       / %th First
/       / %th Last
/       %th User Name
/       %th Position
/       %th Keeper?
/       - if params[:team_id]
/         %th Why I Play
/       - if current_user && current_user.admin?
/         %th
/         %th
/         %th
/
/   %tbody
/     - @players.each do |player|
/       %tr
/         %td= player.jersey
/         - unless params[:team_id]
/           %td= link_to player.team.short_name, player.team
/         / %td= player.first
/         / %td= player.last
/         %td= player.user.name rescue 'N/A'
/         %td= player.position
/         %td= player.keeper ? 'Yes' : 'No'
/         - if params[:team_id]
/           %td= player.why
/         - if current_user && current_user.admin?
/           %td.admin-only= link_to 'Show', player
/           %td.admin-only= link_to 'Edit', edit_player_path(player)
/           %td.admin-only= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
