
- if @team
  %h1= "#{@team.name} Roster"
- else
  %h1 League Players

%table#players-table.compact
  %thead
    %th Jersey
    %th Name
    %th.text-center Status
    - if current_user && (current_user.admin? || current_user.manager?)
      %th.text-center User
      %th.text-center E-mail
      %th.text-center Phone
      %th.text-center Position
      %th.text-center Paid
      %th.text-center Actions
    - else
      %th Positions
      %th Minutes
      %th City/Carpool
  %tbody
    = render @active_or_pending

%hr

= link_to 'New Player', new_player_path
