// Place all the styles related to the formations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard {
  h4 {
    float: left;
    padding: 5px;
    margin: 5px;
    min-width: 100px;
  }
  vertical-align: top;
}

#field {
  float: left;
  clear: both;
  width: 100%;
  background-color: cyan;
  background: image-url('field.partial.png');
  background-size: 720px 720px;
  background-repeat: no-repeat;
  width: 720px;
  height: 720px;

  .pbox {
    cursor: move;
    position: absolute;
    background-color: white;
    border: 1px solid red;
    padding: 3px;
    text-align: center;
  }
  
  .pbox:hover {
    transform: rotate(-3deg);
  }
}

#roster {
  float: left;
}
.group {
  display: table-cell;
}

.receive {
  transform: scale(1.3, 1.3);
}
