// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bench-player {
  cursor: move;
  border: 1px solid black;
  padding: 3px;
  margin: 5px;
}

.bench-player:hover {
  transform: rotate(3deg);
}

#ball {
  cursor: move;
}

#ball:hover {
  transform: translate(3px);
}