// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ui-state-highlight {
  background-color: yellow;
}

#roster, #bench, #nonroster {
  background-color: white;
  border: 1px dashed blue;
}
