.name-box {
  display: inline;
  border: 1px solid blue;
  padding: 5px;
  margin-right: 3px;
}
.pass {
  border: 1px solid red;
}
.pass-left {
  display: table-cell;
}

.pass-right {
  display: table-cell; 
}
